<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Checkout</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="header__top__left">
                <ul>
                  <li><i class="fa fa-envelope"></i> autokid@gmail.com</li>
                  <li>Miễn phí vận chuyện cho đơn hàng từ 2.000.000</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="header__top__right">
                <div class="header__top__right__social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </div>
                <div class="header__top__right__language">
                  <img src="img/language.png" alt="" />
                  <div>Tiếng Việt</div>
                  <span class="arrow_carrot-down"></span>
                  <ul>
                    <li><a href="#">Tiếng Việt</a></li>
                  </ul>
                </div>
                <div class="header__top__right__auth">
                  <a href="#"><i class="fa fa-user"></i>Đăng nhập</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="header__logo">
              <a th:href="@{http://localhost:8080/autokid/home}"><img src="img/logo.png" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="header__menu">
              <ul>
                <li><a th:href="@{http://localhost:8080/autokid/home}">Trang chủ</a></li>
                <li class="active"><a th:href="@{http://localhost:8080/autokid/shop}">Cửa hàng</a></li>
                <li>
                  <a href="#">Trang</a>
                  <ul class="header__menu__dropdown">
                    <li><a th:href="@{http://localhost:8080/autokid/shop-detail}">Cửa hàng chi tiết</a></li>
                    <li><a th:href="@{http://localhost:8080/autokid/shoping-cart}">Giỏ hàng</a></li>
                    <li><a th:href="@{http://localhost:8080/autokid/checkout}">Thanh toán</a></li>
                  </ul>
                </li>
                <li><a th:href="@{http://localhost:8080/autokid/checkout}">Liên hệ</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="header__cart">
              <ul>
                <li>
                  <a href="#"><i class="fa fa-heart"></i> <span>1</span></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-shopping-bag"></i> <span>3</span></a
                  >
                </li>
              </ul>
              <div class="header__cart__price">Tổng tiền: <span>150.000.000</span></div>
            </div>
          </div>
        </div>
        <div class="humberger__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="hero__categories">
              <div class="hero__categories__all">
                <i class="fa fa-bars"></i>
                <span>Danh Mục</span>
              </div>
              <ul>
                <li><a href="#">Xe ba bánh</a></li>
                <li><a href="#">Xe đẩy</a></li>
                <li><a href="#">Xe đạp có bánh phụ</a></li>

              </ul>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="hero__search">
              <div class="hero__search__form">
                <form action="#">
                  <div class="hero__search__categories">
                    Tất cả danh mục
                    <span class="arrow_carrot-down"></span>
                  </div>
                  <input type="text" placeholder="Bạn đang cần gì ?" />
                  <button type="submit" class="site-btn">Tìm kiếm</button>
                </form>
              </div>
              <div class="hero__search__phone">
                <div class="hero__search__phone__icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="hero__search__phone__text">
                  <h5>+84 0000744333</h5>
                  <span>Hỗ trợ 24/7 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
              <h2>Thanh toán</h2>
              <div class="breadcrumb__option">
                <a th:href="@{http://localhost:8080/autokid/home}">Trang chủ</a>
                <span>Thanh toán</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h6>
              <span class = "icon_tag_alt"></span> Bạn có phiếu giảm giá?
              <a href="#">Nhấp vào đây</a> để nhập mã của bạn
            </h6>
          </div>
        </div>
        <div class="checkout__form">
          <h4>Chi tiết thanh toán</h4>
          <form action="#">
            <div class="row">
              <div class="col-lg-8 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Tên<span>*</span></p>
                      <input type="text" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Họ<span>*</span></p>
                      <input type="text" />
                    </div>
                  </div>
                </div>
                <div class="checkout__input">
                  <p>Quốc gia<span>*</span></p>
                  <input type="text" />
                </div>
                <div class="checkout__input">
                  <p>Địa chỉ<span>*</span></p>
                  <input type="text" placeholder="Địa chỉ đường phố" class="checkout__input__add" />
                  <input type="text" placeholder="Căn hộ, phòng, số nhà, v.v. (không bắt buộc)" />
                </div>
                <div class="checkout__input">
                  <p>Thành phố<span>*</span></p>
                  <input type="text" />
                </div>
                <div class="checkout__input">
                  <p>Tỉnh/Quận<span>*</span></p>
                  <input type="text" />
                </div>
                <div class="checkout__input">
                  <p>Mã bưu điện / ZIP<span>*</span></p>
                  <input type="text" />
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Số điện thoại<span>*</span></p>
                      <input type="text" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Email<span>*</span></p>
                      <input type="text" />
                    </div>
                  </div>
                </div>
                <div class="checkout__input__checkbox">
                  <label for="acc">
                    Tạo tài khoản?
                    <input type="checkbox" id="acc" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <p>
                  Tạo tài khoản bằng cách nhập thông tin dưới đây. Nếu bạn là khách hàng cũ, vui lòng đăng nhập ở đầu trang.
                </p>
                <div class="checkout__input">
                  <p>Mật khẩu tài khoản<span>*</span></p>
                  <input type="text" />
                </div>
                <div class="checkout__input__checkbox">
                  <label for="diff-acc">
                    Gửi đến địa chỉ khác?
                    <input type="checkbox" id="diff-acc" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="checkout__input">
                  <p>Ghi chú đơn hàng<span>*</span></p>
                  <input type="text" placeholder="Ghi chú về đơn hàng, ví dụ: hướng dẫn đặc biệt khi giao hàng." />
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="checkout__order">
                  <h4>Đơn hàng của bạn</h4>
                  <div class="checkout__order__products">
                    Sản phẩm <span>Tổng cộng</span>
                  </div>
                  <ul>
                    <li>Gói rau <span>$75.99</span></li>
                    <li>Rau tươi <span>$151.99</span></li>
                    <li>Chuối hữu cơ <span>$53.99</span></li>
                  </ul>
                  <div class="checkout__order__subtotal">
                    Tạm tính <span>$750.99</span>
                  </div>
                  <div class="checkout__order__total">
                    Tổng cộng <span>$750.99</span>
                  </div>
                  <div class="checkout__input__checkbox">
                    <label for="acc-or">
                      Tạo tài khoản?
                      <input type="checkbox" id="acc-or" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="checkout__input__checkbox">
                    <label for="payment">
                      Thanh toán bằng séc
                      <input type="checkbox" id="payment" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="checkout__input__checkbox">
                    <label for="paypal">
                      Paypal
                      <input type="checkbox" id="paypal" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <button type="submit" class="site-btn">ĐẶT HÀNG</button>
                </div>
              </div>
            </div>
          </form>
        </div>
    </section>
    <!-- Kết thúc phần thanh toán -->

    <!-- Phần footer bắt đầu -->
    <footer class="footer spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
              <div class="footer__about__logo">
                <a th:href="@{http://localhost:8080/autokid/home}"><img src="img/logo.png" alt="" /></a>
              </div>
              <ul>
                <li>Địa chỉ: 60-49 Đường 11378 New York</li>
                <li>Điện thoại: +65 11.188.888</li>
                <li>Email: hello@colorlib.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
            <div class="footer__widget">
              <h6>Liên kết hữu ích</h6>
              <ul>
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Về cửa hàng của chúng tôi</a></li>
                <li><a href="#">Mua sắm an toàn</a></li>
                <li><a href="#">Thông tin giao hàng</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Sơ đồ trang web</a></li>
              </ul>
              <ul>
                <li><a href="#">Chúng tôi là ai</a></li>
                <li><a href="#">Dịch vụ của chúng tôi</a></li>
                <li><a href="#">Dự án</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Sáng tạo</a></li>
                <li><a href="#">Phản hồi</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="footer__widget">
              <h6>Tham gia bản tin của chúng tôi ngay</h6>
              <p>
                Nhận cập nhật qua E-mail về cửa hàng và các ưu đãi đặc biệt của chúng tôi.
              </p>
              <form action="#">
                <input type="text" placeholder="Nhập email của bạn" />
                <button type="submit" class="site-btn">Đăng ký</button>
              </form>
              <div class="footer__widget__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="footer__copyright">
              <div class="footer__copyright__text">
                <p>
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  Tất cả các quyền được bảo lưu | Mẫu này được thiết kế bởi
                  <i class="fa fa-heart" aria-hidden="true"></i> bởi
                  <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
              </div>
              <div class="footer__copyright__payment">
                <img src="img/payment-item.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Kết thúc phần footer -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
