<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto_Kid | Thuong Hieu</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="./css/style.min.css" type="text/css">
</head>

<body>
<div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
    <div th:insert="fragments/sidebar :: sidebar"></div>
    <div class="main-wrapper">
        <div th:insert="fragments/header :: header"></div>
        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Quản Lý Kích Cỡ</h2>
                <div class="row">
                    <div class="col-4">
                        <input type="text"  placeholder="Tìm kiếm sản phẩm ..." required>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                data-bs-whatever="@Duc Manh">Thêm SP
                        </button>
                    </div>
                </div>
                <div class="users-table table-wrapper">
                    <table class="posts-table">
                        <thead>
                        <tr class="users-table-info">
                            <th>Mã kích cỡ</th>
                            <th>Tên kích cỡ</th>
                            <th>Trạng thái</th>
                            <th>Mô tả</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="kc : ${kichco}">
                            <td th:text="${kc.maKC}"></td>
                            <td th:text="${kc.tenKC}"></td>
                            <td th:text="${kc.trangThaiKC}"></td>
                            <td th:text="${kc.moTa}"></td>
                            <td>
                                <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                    <i data-feather="more-horizontal" aria-hidden="true"></i>
                                </button>
                                <ul class="users-item-dropdown dropdown">
                                    <li><a href="#">Chỉnh sửa</a></li>
                                    <li><a href="#">Xoá</a></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <div th:insert="fragments/footer :: footer"></div>
    </div>
</div>

<!-- Chart library -->
<script src="./plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="./plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="./js/script.js"></script>
</body>

</html>
